<html>
<head>
	<link type="text/css" rel="stylesheet" href="~/css/style_dash.css" />
</head>
<body onload="test()">
	<div class="header1">
		<div id="img3" class="header1" style="color: white; text-decoration: none; font-size: 30px; font-weight: 900;">Faceboook</div>
		<div id="searcharea" class="header1">
			<form action="#" onsubmit="search()">
				<input placeholder="search here..." type="text" id="searchbox1" style="color:black" />
				<input type="submit" style="display:none"/>
			</form>
		</div>
		<div id="profilearea" class="header1"><a href="~/profile.php"><img src="~/prof.png" id="profpic" /></a></div>
		<div id="profilearea1" class="header1"><a href="About">Profile</a></div>
		<div id="profilearea3" class="header1">|</div>
		<div id="profilearea4" class="header1"><a href="Contact">Home</a></div>
		<div id="findf" class="header1"><img src="~/frn.png" height="30" /></div>
		<div id="message" class="header1"><img src="~/chat.png" height="30" /></div>
		<div id="notification" class="header1"><img src="~/noti.png" height="30" /></div>
		<div id="profilearea2" class="header1">|</div>
		<div class="dropdown">
			<div id="setting" class="header1">
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
					<img src="~/set.png" height="30" />
				</button>
				<ul class="dropdown-menu">
					<li data-toggle="modal" data-target="#myModal" onclick="editPerfil()"><a href="#">Editar perfil</a></li>
				</ul>
			</div>
		</div>
		<div id="logout" class="header1">
			<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
				<img src="~/lo.png" height="30" />
			</button>
			<ul class="dropdown-menu">
				<li><a href="Index">Cerrar sesion</a></li>
			</ul>
		</div>
	</div>


	<div class="bodyn">
		<div id="side1" class="bodyn"><img src="prof.png" id="profpic" />Profile</div>
		<div id="side2" class="bodyn">edit profile</div>
		<div id="side3" class="bodyn">News feed</div>
		<div id="side4" class="bodyn">Messages</div>
		<div id="side5" class="bodyn">Events</div>
		<div id="side6" class="bodyn">PAGES</div>
		<div id="side7" class="bodyn">Pages feed</div>
		<div id="side8" class="bodyn">Like pages</div>
		<div id="side9" class="bodyn">Create page</div>
		<div id="side10" class="bodyn">Create ad</div>
		<div id="side11" class="bodyn">GROUPS</div>
		<div id="side12" class="bodyn">New groups</div>
		<div id="side13" class="bodyn">Create group</div>
		<div id="side14" class="bodyn">APPS</div>
		<div id="side15" class="bodyn">Games</div>
		<div id="side16" class="bodyn">On this day</div>
		<div id="side17" class="bodyn">Games feed</div>
		<div id="side18" class="bodyn">FRIENDS</div>
		<div id="side19" class="bodyn">Close friends</div>
		<div id="side20" class="bodyn">Family</div>
		<div id="side21" class="bodyn">INTERESTS</div>
		<div id="side22" class="bodyn">Pages and public</div>
		<div id="side23" class="bodyn">EVENTS</div>
		<div id="side24" class="bodyn">Create event</div>
	</div>


	<div class="row post1" style="margin-left:200pt; margin-top:30pt	">
		<div id="column-1" class="post"><a style="color:darkslateblue" onclick="setType(1)">update status</a> | <a style="color:darkslateblue" onclick="setType(2)">add photos/videos</a> <hr></div>
		<div class="post"><textarea id="postbox" placeholder="What's in your mind" type="text"></textarea></div>
		<div id="urlImagen" style="visibility:hidden;"><textarea id="url" placeholder="Insert here the url for your image" style="width:580px; margin-top:5pt"></textarea></div>
		<hr />
		<div id="postpos" class="post" style="float:right; margin-bottom:20pt"><input type="submit" id="buttonpost" value="post" onclick="publishPost()" /></div>
	</div>
	

	@foreach (var post in UsuarioActual.GetUsuarioActual().GetPostsAmigos())
	{
		var amigo = UsuarioActual.GetUsuarioActual().GetAmigo(post.idPersona);
		
	<div class="row post1" style=" background-color:whitesmoke; margin-left:200pt; margin-top:30pt">
		<div class="row" style="padding-left:10px">
			<div class="col-lg-1"><img src="@amigo.picture" style="border-radius: 50%" id="profpic" /></div>
			<div class="col-lg-10">
				<p3 id="nombre"><a style="color:steelblue" onclick="verPerfil(@amigo.idPersona)">@amigo.Nombre @amigo.Apellido</a></p3>
				@if (post.GetEtiquetas().Count > 0)
				{
					<p2> with </p2>
				}

				@foreach (var etiqueta in post.GetEtiquetas())
				{
					<p1><a style="color:steelblue" onclick="verPerfil(@etiqueta.idPersona)">@etiqueta.Nombre @etiqueta.Apellido</a> </p1>
				}
				<br><p4>4 hrs.</p4>
			</div>
		</div>
		<div class="row" style="padding-left:15px">

			@foreach (var hashtag in post.GetHashtags())
			{
				<p1><a style="color:steelblue" onclick="buscarHashtags('@hashtag')">#@hashtag</a> </p1>
			}
			<p style="margin-top:10pt">@post.mensaje</p>
			@if (@post.imagen != "")
			{
				<img src="@post.imagen" height="411" width="580" />
			}
		</div>
		<br />
		<div class="row" style="padding-left:15px">
			<p6><a style="color:darkslateblue" onclick="like2(@post.idPost);">Like</a> | Share</p6>
		</div>
		<hr /><p1>@post.likes me gusta</p1>
		<br /><br />
		@{
			var i = "commentbox" + post.idPost;
		}
		<div class="row">
			<div class="col-lg-1" id="commentprof2" style="margin-right:8pt;"><img src="@UsuarioActual.GetUsuarioActual().GetUser().picture" id="profpic" /></div>
			<div class="col-lg-11" id="commentboxpos2">
				<input type="textarea" placeholder="comment" id=@i style="width:440px" />
				<a style="color:steelblue" onclick="comentar1(@post.idPost)">Comentar</a>
			</div>
		</div>
		<div>
			@foreach (var coment in post.ObtenerComentarios())
			{
				<div class="row" style="padding-left:25pt; margin-top:10pt">
					<div class="col-lg-1" id="commentprof2"><img src="@coment.user.picture" id="profpic" /></div>
					<div class="col-lg-10" id="commentboxpos2">@coment.comentario</div>
				</div>
			}
		</div>
	</div>
		
	}


	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Editar perfil</h4>
				</div>
				<div class="modal-body" style="height:430px" id="wrapper">
					<div id="div2">
						<p>Recuerda que para ver tus cambios debes refrescar la página.</p>
						<li><input type="text" placeholder="First Name" id="firstname"><input type="text" placeholder="Surname" id="surname"></li>
						<li><input type="text" placeholder="Email address" id="email"></li>
						<li><input type="password" placeholder="New password" id="password"></li>
						<li>
							Descipcion
							<textarea name="paragraph_text" id="desc" cols="41" rows="6"></textarea>
						</li>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" onclick="edit()">Guardar</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				</div>
			</div>

		</div>
	</div>
	<div class="header10"></div>


</body>
</html>
<script>
	function test() {

	}
	function search() {
		event.preventDefault();
		var busqueda = document.getElementById("searchbox1");
		alert("buscando", busqueda.value);
		$.ajax({
			async: true,
			type: "POST",
			url: '@Url.Action("SearchFriend", "Home")',
			data: { "id": busqueda.value, "comentario": "1" },
			//data: x.value,
			dataType:"JSON",
			success: function (response) {
				if (response.success) {

					console.log('success');
					console.log(response.res);
					window.location = response.redirecturl;
					//alert('nombre:',sessionStorage.getItem('nombre'));
					//window.location = response.redirecturl;

				}
			}
		});

				console.log('termine');
	}
	function editPerfil() {
		console.log('actual', '@UsuarioActual.GetUsuarioActual().GetUser().Nombre');
		//UsuarioActual.GetUsuarioActual().ActualizarUsuario();
		var fn = document.getElementById("firstname");
		fn.placeholder = '@UsuarioActual.GetUsuarioActual().GetUser().Nombre'
		var sn = document.getElementById("surname");
		sn.placeholder = '@UsuarioActual.GetUsuarioActual().GetUser().Apellido'
		var email = document.getElementById("email");
		email.placeholder = '@UsuarioActual.GetUsuarioActual().GetUser().correo_electronico'
		var psw = document.getElementById("password");
		var desc = document.getElementById("desc");
		desc.placeholder = '@UsuarioActual.GetUsuarioActual().GetUser().descripcion'


		var n, a, em, ps, de;

		n = '@UsuarioActual.GetUsuarioActual().GetUser().Nombre';
		a = '@UsuarioActual.GetUsuarioActual().GetUser().Apellido';
		em = '@UsuarioActual.GetUsuarioActual().GetUser().correo_electronico';
		ps = '@UsuarioActual.GetUsuarioActual().GetUser().contraseña';
		de = '@UsuarioActual.GetUsuarioActual().GetUser().descripcion';

		if (fn.value != "") {
			n = fn.value;
		}
		if (sn.value != "") {
			a = sn.value;
		}
		if (email.value != "") { em = email.value }
		if (psw.value != "") {
			ps = psw.value
		}
		if (desc.value != "") { de = desc.value }



		//revisar errores
		var person = {
			Nombre: n,
			Apellido: a,
			correo_electronico: em,
			contraseña: ps,
			fecha_nac: "@UsuarioActual.GetUsuarioActual().GetUser().fecha_nac",
			idPersona: "@UsuarioActual.GetUsuarioActual().GetUser().idPersona",
			descripcion: de,
			picture: "@UsuarioActual.GetUsuarioActual().GetUser().picture",
		};
		console.log('persoooon', person);
		//aqui puedo agregar patron status o memento para verificar si hay datos distintos entrar a base de datos, si no continuar
		$.ajax({
					async: false,
					type: "POST",
					url: '@Url.Action("EditUser", "Home")',
					data: person,
					//data: x.value,
					dataType:"JSON",	
					success: function (response) {
						if (response.success) {

							console.log('success');
							console.log('@UsuarioActual.GetUsuarioActual().GetUser().Nombre');
							//alert('nombre:',sessionStorage.getItem('nombre'));					
							//window.location = response.redirecturl;
					
						}
					}
		});
		fn.value = "";
		sn.value = "";
		email.value = "";
		psw.value = "";
		desc.value = "";
	}
	function setType(tipo) {
		//1 mensaje
		//2 imagen
		var k = document.getElementById("urlImagen");
		if (tipo == 1)
			k.style.visibility = "hidden";
		else if (tipo == 2)
			k.style.visibility = "visible";
	}
	function publishPost() {
		var mensaje = document.getElementById("postbox").value;
		var url = document.getElementById("url").value;
		alert(mensaje);
		alert(url);
		$.ajax({
			async: true,
			type: "POST",
			url: '@Url.Action("AgregarPost", "Home")',
			data: { "id": mensaje, "comentario": url },
			dataType:"JSON",
			success: function (response) {
				if (response.success) {
					console.log('success');
					alert("Tu publicación se ha publicado exitosamente");
				}
			}
		});
		document.getElementById("postbox").value = "";
		document.getElementById("url").value = "";
		console.log('termine');
	}
	function comentar1(idpost) {
		alert(idpost);
		console.log('ya estoy en comentar');
		var id = idpost.toString()
		var k = "commentbox" + id;
		var c = document.getElementById(k);

		alert(c.value);

		$.ajax({
			async: true,
			type: "POST",
			url: '@Url.Action("CommentPost", "Home")',
			data: { "id": id, "comentario": c.value },
			//data: x.value,
			dataType:"JSON",
			success: function (response) {
				if (response.success) {

					console.log('success');
					//alert('nombre:',sessionStorage.getItem('nombre'));
					//window.location = response.redirecturl;
					alert("Tu comentario se ha publicado exitosamente");
				}
			}
		});
		document.getElementById(k).value = "";
		console.log('termine');
	}
	function buscarHashtags(hashtag) {
		alert(hashtag);
		$.ajax({
			async: true,
			type: "POST",
			url: '@Url.Action("BuscarHashtags", "Home")',
			data: { "descripcion": hashtag },
			dataType:"JSON",
			success: function (response) {
				if (response.success) {

					console.log('success');
					alert("Buscando hashtag");
					window.location = response.redirecturl;
				}
			}
		});

	}
	function verPerfil(idPersona) {
		$.ajax({
			async: true,
			type: "POST",
			url: '@Url.Action("VerPerfilAlClick", "Home")',
			data: { "descripcion": idPersona },
			dataType:"JSON",
			success: function (response) {
				if (response.success) {

					console.log('success');
					window.location = response.redirecturl;
				}
			}
		});
	}
	function like2(idpost) {
				var id = idpost.toString()
				$.ajax({
					async: true,
					type: "POST",
					url: '@Url.Action("LikePost", "Home")',
					data: { "Descripcion": id },
					//data: x.value,
					dataType:"JSON",
					success: function (response) {
						if (response.success) {

							console.log('success');
							alert("Diste like al post, para ver tus cambios actualiza la pagina");
							//alert('nombre:',sessionStorage.getItem('nombre'));
							//window.location = response.redirecturl;

						}
					}
				});

				console.log('termine');


			}



</script>